#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS

-include /usr/share/dpkg/architecture.mk
ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
  export CC = $(DEB_HOST_GNU_TYPE)-gcc
else
  export CC = gcc
endif

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install PREFIX=debian/anacron MANDIR=debian/anacron/usr/share/man
	install -D -m 644 debian/anacrontab debian/anacron/etc/anacrontab

override_dh_installcron:
	dh_installcron
	dh_installcron --name=0anacron

override_dh_installinit:
	dh_installinit --no-start
